* {
  box-sizing: border-box;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
  /* border-bottom: 1px solid black;
  padding-bottom: 50px; */
  position: relative;
}
.navBar__left ul li {
  position: relative;
  font-size: 1.2em;
  margin-right: 30px;
}
.navBar__left ul li:hover::after {
  position: absolute;
  content: "";
  bottom: -41px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: hsl(26, 100%, 55%);
}

/* test */
.navBar::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: grey;
}
.navBar__left ul,
.navBar__right {
  display: flex;
  align-items: center;
  padding: 0;
}
ul {
  list-style: none;
}
.cart {
  position: relative;
}
.cart__visible {
  position: absolute;
  top: 70px;
  right: -50%;
  width: 150px;
  height: 200px;
  border: 2px solid black;
  background-color: aliceblue;
  padding: 10px;
}
.icon-cart {
  width: 30px;
  margin-right: 20px;
}
.profil {
  width: 50px;
  transition: border 0.1s ease;
}
.profil:hover {
  border: 3px solid orange;
  border-radius: 50%;
  /* box-sizing: border-box; */
}
.icon-cart,
.profil,
.navBar__left ul li:hover {
  cursor: pointer;
}
