* {
  box-sizing: border-box;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
}

.navBar__left ul,
.navBar__right {
  display: flex;
  align-items: center;
}
.navBar__left ul li {
  margin: 0 15px;
  font-size: 1.2em;
}
ul {
  list-style: none;
}
.cart {
  position: relative;
}
.cart__visible {
  position: absolute;
  top: 70px;
  right: -50%;
  width: 150px;
  height: 200px;
  border: 2px solid black;
  background-color: aliceblue;
  padding: 10px;
}
.icon-cart {
  width: 30px;
  margin-right: 20px;
}
.profil {
  width: 50px;
  transition: border 0.1s ease;
}
.profil:hover {
  border: 3px solid orange;
  border-radius: 50%;
  /* box-sizing: border-box; */
}
.icon-cart,
.profil,
.navBar__left ul li:hover {
  cursor: pointer;
}
