.product__page {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}
.product__page-images {
  max-width: 50%;
}
.main-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail {
  width: 20%;
  cursor: pointer;
  border-radius: 15px;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 100px;
}
