.product__page {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.product__page-images {
  /* position: relative; */
  max-width: 40%;
  margin-right: 50px;
  z-index: 6;
}
.zoom {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.8);
  filter: blur(5px);
  z-index: 5;
}

.product__info--title {
  font-size: 16px;
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
}
.product__info h2 {
  font-size: 36px;
}
.main-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 30px;
}
.price {
  font-weight: bold;
  font-size: 24px;
}
.reduction {
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
  padding: 0 5px;
  color: hsl(26, 100%, 55%);
}
.oldPrice {
  text-decoration: line-through;
  /* color: hsl(220, 13%, 13%); */
  color: hsl(219, 9%, 45%);
}

.addCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addCart__container {
  flex-basis: 10%;
  flex-grow: 1;
  background-color: var(--LightGrayisBlue);
  border-radius: 10px;
  margin-right: 10px;
}
.addCart__container span {
  margin: 0 10px;
}

.addCart__actions {
  /* flex-basis: 70%; */
  flex-grow: 2;
}

.addCart__button--quantity {
  margin: 10px 0;
  width: 50px;
  height: auto;
  background-color: var(--LightGrayisBlue);
}

.closeBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.btnVisible {
  display: block;
}
